.container{
    width: 90%;
    background-color: #6b645d;
    color: #ffcb2d;
    text-align: center;
    padding: 30px 50px;
    margin-bottom: 45px;
}
.container h1, p{
    background-color: #6b645d;
}