.container{
    width: 90%;
    background-color: #6b645d;
    color: #ffcb2d;
    text-align: center;
    padding: 80px 50px;
    margin-bottom: 45px;
    border-radius: 20px;
}
.title, .intro-content{
    background-color: #6b645d;
}