.wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://s.tmimgcdn.com/scr/1200x750/148800/golden-logo-mockup-store-sign-fassade-elegantes-produktmodell_148841-original.jpg);
    background-attachment: fixed;
    margin-bottom: 35px;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
}
.container{
    width: 90%;
    background-color: rgb(0,0,0,0.4);
    color: white;
    text-align: center;
    padding: 22px 32px;
    border-radius: 20px;
}
@media screen and (min-width:1000px) {
    .wrapper{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('https://s.tmimgcdn.com/scr/1200x750/148800/golden-logo-mockup-store-sign-fassade-elegantes-produktmodell_148841-original.jpg');
        background-attachment: fixed;
        margin-bottom: 35px;
    }
    .container{
        padding: 80px 50px;
    }
}
