.client-card-container {
    width: 268px;
    height: 290px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 0px #ffcb2d;
}
.client-card-container:hover .card-overlay {
    transform: rotateY(179deg);
    background-color: #6B645d;
}
.cards-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    border-radius: 20px;
    background-color: #6B645d;
}
.text{
    width: 240px;
    font-size: 20px;
    background-color: #6B645d;
    color: #ffcb2d;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}