.client-main {
    width: 90%;
    margin-top: 45px;
}

.client-main h1 {
    text-align: center;
    color: #6B645d;
    margin-bottom: 10px;
}

.client-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.client-card {
    width: 300px;
    height: 208px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 0px #ffcb2d;
    margin-bottom: 30px;
}

.client-card:hover .client-overlay {
    /* transform: rotateY(179deg); */
    opacity: 1;
    /* background-color: rgb(107, 100, 93,0.4); */
}

.client-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    border-radius: 20px;
    background-color: rgb(107, 100, 93,0.4);
}

.client-text {
    width: 240px;
    font-size: 16px;
    text-align: left;
    /* background-color: rgb(107, 100, 93,0.2); */
    /* color: #ffcb2d; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.client-img{
    width: 300px;
    height: 208px;
    border-radius: 20px;
    margin: -10px;
    position: relative;
    margin-bottom: 30px;

}

@media screen and (min-width:1000px) {
    .client-card {
        width: 250px;
    }
    .client-img{
        width: 250px;
        height: 208px;
    }
}