.header-container{
    width: 100%;
    height: 20px;
    font-weight: bolder;
    text-align: center;
    /* background-color: #ff6969; */
    margin-bottom: 10px;
}
.header-container h1{
    /* background-color: #6b645d; */
    margin-bottom: 10px;
}