.header-container{
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    padding-top: 15px;
}
.header-content{
    display: none;
}
@media screen and (min-width:600px) {
    .header-logo {
        width: 75%;
    }
    .header-content{
        display: inline;
    }
}