.our-works-images-container {
    width: 100%;
    display: flex;
}
.our-works-heading{
    text-align: center;
    color: #6b645d;
}
.marquee-container {
    width: 90%;
}
.work-image-div{
    background-color: white;
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px #ffcb2d;
}
.our-work-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.ant-modal-footer {
    display: none;
}
.work-image-div:hover  {
    transform: scale(1.15);
    transition: 300ms ease-in-out;
}
.marquee-container {
    height: 350px;
    overflow-x: hidden !important;
    /* margin-top: 10px; */
}
.overlay::after,.overlay::before {
    display: none;
}
.work-modal{
    background-color: transparent;
    text-align: center;
}
.modal-image-container{
    width:100%;
}
.modal-text-container{
    width: 50%;
    margin-left: 10px;
}
.modal-main-conatiner{
    display: flex;
    /* align-items: center; */
}
.modal-image{
    width: 100%;
    height: 167px;
    object-fit: cover;
    border-radius: 10px;
}
.modal-whatsapp-container{
    margin-top: 20px;
}
.whatsapp-logo{
    width: 60px;
}
@media screen and (min-width:600px) {
    .modal-image {
        width: 100%;
        height: 400px;
    }
}